{% extends "pretix_via/control_event_via_terms_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% load eventurl %}
{% block form %}
    {% bootstrap_form_errors form %}
    {% if not form.availability_quotas.field.choices %}
    <div class="alert alert-danger">
        At least a single quota must be present in order to create terms for this event. Please create one <a href="{% eventurl request.event "control:event.items.quotas.add"%}">here</a>.
    </div>
    {% endif %}
    {% if not payment_term_last %}
    <div class="alert alert-warning">
        No payment deadline has been configured. Using event start until date is configured <a href="{% eventurl request.event "control:event.settings.payment"%}#tab-0-1-open">here</a>.
    </div>
    {% else %}
        <div class="alert alert-info">
            Payment deadline has been configured as {{payment_term_last|date:"SHORT_DATETIME_FORMAT" }}. Configured <a href="{% eventurl request.event "control:event.settings.payment"%}#tab-0-1-open">here</a>.
        </div>
    {% endif %}
    {% if not cancel_allow_user_paid_until %}
    <div class="alert alert-warning">
        No final cancellation date for paid orders has been configured. Using event start until date is configured <a href="{% eventurl request.event "control:event.settings.cancel"%}#tab-0-1-open">here</a>.
    </div>
    {% else %}
        <div class="alert alert-info">
            Final cancellation date has been configured as {{cancel_allow_user_paid_until|date:"SHORT_DATETIME_FORMAT"}}. Configured <a href="{% eventurl request.event "control:event.settings.cancel"%}#tab-0-1-open">here</a>.
        </div>
    {% endif %}
    {% bootstrap_field form.availability_quotas layout="control" %}
    {% bootstrap_field form.availability_reserved layout="control" %}
    {% bootstrap_field form.replacement_until layout="control" %}
    {% bootstrap_field form.no_show_fee addon_after=request.event.currency  layout="control" %}
    {% bootstrap_field form.has_subactivities layout="control" %}
    {% bootstrap_field form.has_transportation layout="control" %}
{% endblock %}
