{% extends "pretixcontrol/event/settings_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load eventurl %}
{% block inside %}
    <h1>{% trans "VIA Terms and conditions settings" %}<small> {% blocktrans trimmed with step=wizard.steps.step1 %}
        Step {{ step }}
        {% endblocktrans %}</small>
    </h1>
    {% if request.event.settings.via_terms_enabled %}
    <div class="alert alert-info">
        The terms and conditions for this event are enabled and can be viewed <a href="{% eventurl request.event "plugins:pretix_via:terms"%}">here</a>.
        <form class="form-inline helper-display-inline" method="post"
              action="{% url "plugins:pretix_via:event.settings.via_terms.disable" event=request.event.slug organizer=request.organizer.slug  %}">
            {% csrf_token %}
            <button class="btn btn-danger btn-xs pull-right">
                {% trans "Disable terms and conditions" %}
            </button>
        </form>
    </div>
    {% endif %}
    <form action="" method="post" class="form-horizontal"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.prefix_form }}
        {% block form %}
        {% endblock %}

        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save pull-right flip">
                {% trans "Continue" %}
            </button>
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                        class="btn btn-default btn-lg pull-left flip" formnovalidate>
                    {% trans "Back" %}
                </button>
            {% endif %}
        </div>
    </form>
{% endblock %}
